.Login{
    width: 100%;
    padding: 10em 0;
    flex-wrap: wrap;
    h1{
        width: 100%;
        text-align: center;
        font-size: 4rem;
        color: royalblue;
        -webkit-text-stroke: 0.05em  rgb(0, 0, 0);
        text-decoration: underline;
        margin-bottom: 2%;
    }
    .LoginCard{
        display: flex;
        background-color: aliceblue;
        box-shadow: 2em 2em 10em black;
        height: 70vh;
        justify-content: space-between;
        width: 50%;
        margin: auto;
        .LoginOne{
            width: 45%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .LoginTwo{
            width: 55%;
            .Heading{
                margin-top: 5%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                h1{
                    color: crimson;
                    -webkit-text-stroke: 0em transparent;
                    width: 100%;
                }
                img{
                    width: 250em;
                    background-color: aliceblue;
                    border-radius: 100%;
                    padding: 20em;
                    margin-top: 5%;
                    border: 10em solid black;
                }
            }
            .SignUpBtn{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 14%;
                button{
                    padding: 0.2em 1em;
                    border-radius: 10em;
                    border: 0.1em solid black;
                    background-color: white;
                    cursor: pointer;
                    img{
                        width: 2em;
                        margin-right: 0.4em;
                    }
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (max-width:808px) {
    .Login{
        .LoginCard{
            width: 70%;
        }
    }
}

@media (max-width:668px) {
    .Login{
        .LoginCard{
            width: 90%;
        }
    }
}

@media (max-width:517px) {
    .Login{
        .LoginCard{
            width: 90%;
            .LoginTwo{
                .Heading{
                    h1{
                        font-size: 3rem;
                    }
                    img{
                        width: 190em;
                    }
                }
                .SignUpBtn{
                    button{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width:415px) {
    .Login{
        .LoginCard{
            width: 70%;
            flex-direction: column;
            .LoginOne{
                width: 100%;
                height: 35vh;
            }
            .LoginTwo{
                width: 100%;
                padding-bottom: 5%;
            }
        }
    }
}